.table-style
{
	display:table;
	border-collapse:separate;
}
.thead
{
	display:table-header-group;
	color:white;
	font-weight:bold;
	background-color:grey;
}
.tbody
{
	display:table-row-group;
}
.tr
{
	display:table-row;
}
.td
{
	display:table-cell;
    border: none;
}
.tr.editing .td INPUT
{
	width:100px;
}
.hideDropdown
{
    display: none;
}