<h1>New Job</h1>
<form method="POST" action="/new">
    <table>
        <tr>
            <td><input type="text" placeholder="Company" name="company" required="true"></td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="Job Title" name="jobTitle" required="true">
            </td>
        </tr>
        <tr><td><input type="submit" title="Submit" value="save"></td></tr>
    </table>
</form>